{% extends 'myApp/template.html' %}

{% block content %}
  <center>  
    <h1 style="color: #000000">
      {{ video.video_name }} (edit)
    </h1>
  </center>
  <form id="form1" name="form1" method="post" enctype="multipart/form-data" style="margin-left: 80px; margin-right: 20px; margin-top: 40px"> {% csrf_token %}
    <table width="100%">
      <tr>
        <td width="11%" valign="top">
          <h style="font-size: 35px">Name:</h>
        </td>
        <td valign="center">
          <input type="text" id="inputName" name="inputName" style="font-size: 35px; background: #eeeeee; " value="{{ video.video_name }}">
        </td>
      </tr>
      <tr height="20px">
      </tr>
      <tr>
        <td valign="top">
          <h style="font-size: 18px">Description:</h>
        </td>
        <td valign="center">
          <textarea rows="5" id="inputDescription" name="inputDescription" style="width: 50%; height: 100px; valign: top; background: #eeeeee; resize: none;">{{ video.video_description }}</textarea>
        </td>
      </tr>
      <tr height="20px">
      </tr>
      <tr>
        <td valign="top">
          <h style="font-size: 18px">Type:</h>
        </td>
        <td valign="center">
          <p style="font-size: 30px;">
            {% if video.animal_irradiated == True %}
              <input type="radio" id="inputType" name="inputType" value="irradiated" style="width:25px; height:25px; " required checked="checked"> irradiated &nbsp;&nbsp;
              <input type="radio" id="inputType" name="inputType" value="unirradiated" style="width:25px; height:25px; " required> unirradiated &nbsp;&nbsp;
            {% endif %}
            {% if video.animal_irradiated == False %}
              <input type="radio" id="inputType" name="inputType" value="irradiated" style="width:25px; height:25px; " required> irradiated &nbsp;&nbsp;
              <input type="radio" id="inputType" name="inputType" value="unirradiated" style="width:25px; height:25px; " required checked="checked"> unirradiated &nbsp;&nbsp;
            {% endif %}
            {% if video.animal_irradiated == None %}
              <input type="radio" id="inputType" name="inputType" value="irradiated" style="width:25px; height:25px; " required> irradiated &nbsp;&nbsp;
              <input type="radio" id="inputType" name="inputType" value="unirradiated" style="width:25px; height:25px; " required> unirradiated &nbsp;&nbsp;
            {% endif %}
          </p>
        </td>
      </tr>
      <tr height="20px">
      </tr>
    </table>
    <center>
      <input type="submit" value="Submit" style="width: 200px; font-size: 20px; background: #00ff00">
    </center>
  </form>
{% endblock %}
